.carousel{
 
    background-image: url(../img/Violet_top_left_wave.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
   .carousel__img{
    background-image: url(../img/yellow_top_wave_01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    height: 30%;
    width: 100%;
  
   }
   .carousel__content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em 0;
    .carousel__left{
        p{
            font-size: $fs-3;
            margin-bottom: 0.5em;
            color: $color-pink-1;
            font-weight: $fw-1;
        }
        h1{
            font-size: $fs-4;
            font-weight: $fw-2;
        }
    }
   }


}