.footer {
    background-image: url(../img/footer_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    color: white;
    padding: 8em 0;
    .footer__content {
        max-width: 1200px;
        margin: 0 auto;
        .footer__item {
            padding: 0 40px;
            h5 {
                font-size: 1.55rem;
                font-weight: $fw-2;
            }

            .quicklink__text,
            .about__text {
                li {
                    line-height: 1;
                    padding: 0.8em 0;
                    display: block;
                    a {
                        color: $color-white;
                        border-bottom: 1px solid black;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    }
                }
            }

            .footer__input {
                form {
                    input {
                        border: 1px solid rgba(255, 255, 255, 0.1);
                        border-radius: 50px;
                        outline: none;
                        width: 100%;
                        background: transparent;
                        padding: 1em;
                        color: inherit;
                        height: 3.2em;
                        text-align: center;

                        &:focus {
                            border: 1px solid rgba(255, 255, 255, 1);
                            text-align: right;
                            color: inherit;
                            transition: all 0.5 ease-in;
                        }
                    }
                }
            }
            .button__footer {
                text-align: center;
                height: 48px;
                a {
                    box-shadow: 0 0 0 3em #b61984 inset;
                    border: 1px solid #fff;
                    display: block;
                    font-size: 0.8em;
                    letter-spacing: 1px;
                    font-weight: 600;
                    padding: 1em;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        border: 1px solid #b61984;
                        box-shadow: 0 0 0 1px #b61984 inset;
                        background: #fff;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }
}
